apache-airflow==2.8.0
apache-airflow-providers-docker==3.9.0
apache-airflow-providers-apache-spark==4.11.0
apache-airflow-providers-postgres==5.6.0
apache-airflow-providers-mysql==5.5.3
pymysql
psycopg2-binary
pyspark==3.5.1
